._hero{
  background-image: url('../../../assets/images/bg/bg-hero.png');
  background-repeat: no-repeat;
  background-size: contain;
  // background-attachment: fixed;
  background-position: top;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .wrapper  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .title{
      text-align: center;
      font-size: 56px;
      font-weight: 700;
      color: var(--yellow-color);
      background-color: transparent;
    }
    .sub-title{
      text-align: center;
      font-size: 36px;
      font-weight: 500;
    }
    .desc{
      text-align: center;
      font-weight: 300;
      font-size: 18px;
    }
  }
}